.slider {
    -webkit-appearance: none;
    width: calc(100% - 40px);
    height: 5px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-left: 20px;
    margin-right: 20px;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: gray;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.inputBox{
    padding: 6px;
    font-size: 12px;
    width: 69px;
    border: none;
    outline: none;
    border-radius: 8px;
    color: #0084ff;
}
.inputBox::-webkit-outer-spin-button,
.inputBox::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.inputBox[type=number] {
    -moz-appearance: textfield;
}

/* Style the tab */
.tab {
    overflow: hidden;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    transition: color 0.3s;
  }
  
  /* Change background color of buttons on hover */
  .tab button.tablinks:hover {
    color: rgb(0, 144, 0)
  }
  
  /* Create an active/current tablink class */
  .tab button.activeTablinks {
    color: rgb(0, 144, 0);
    border-bottom: 1px solid rgb(0, 144, 0);
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

